/*font-family: 'Concert One', cursive;
font-family: 'Open Sans Condensed', sans-serif;*/

nav {
    background: rgb(194,230,217);
    background: linear-gradient(90deg, rgba(194,230,217,1) 0%, rgba(84,143,108,1) 37%, rgba(31,56,36,1) 100%);
}

h1 {
    font-family: 'Concert One', cursive;
    font-size: 175%;
    color: white;
}

h2 {
    font-family: 'Concert One', cursive;
    font-size: 150%;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 120%;
}

h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 120%;
    font-weight: bold;
    display: inline;
}

.searchHistoryButton {
    background-color: rgb(171, 195, 171);
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.cardbackground {
    background-color: rgb(188, 235, 207);
}